.root{
	-fx-background-color: aqua;
	-fx-font-size: 13pt;
	-fx-font-family: "Verdana";
	-fx-background: rgb(225, 228, 203);
}

.menuPane {
	-fx-background-color: yellow;
	-fx-color: red;
}

.settingsPane {
	-fx-background-color: orange;
	-fx-color: blue
}

.gamePane {
	-fx-background-color: lime;
	-fx-color: pink;
}

.text-field {

    -fx-font-size: 15;
}

.tileButton{

	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-font-size: 20pt;
    -fx-background-radius: 0;
    -fx-background-color:rgb(179,179,179);
}

.tileButtonFree {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-font-size: 20pt;
    -fx-background-color: yellow;
    -fx-background-radius: 0;
}

.tileButtonOne {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-font-size: 20pt;
    -fx-background-color: rgb(153,128,230);
    -fx-background-radius: 0;
}

.tileButtonTwo {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-font-size: 20pt;
    -fx-background-color: rgb(255,179,128);
    -fx-background-radius: 0;
}

.tileButtonTie {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-font-size: 20pt;
    -fx-background-color:rgb(204,255,204);
    -fx-background-radius: 0;
}

.tileButtonNot {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: black;
    -fx-background-color: red;
    -fx-font-size: 10pt;
    -fx-background-radius: 0;
}

.tileButtonNeutral {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: black;
    -fx-background-color: green;
    -fx-font-size: 10pt;
    -fx-background-radius: 0;
}
.tileButtonWin {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-background-color:rgb(255,239,53);
    -fx-font-size: 20pt;
    -fx-background-radius: 0;
}
.tileButtonLose {
	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-background-color: rgb(255,95,95);
    -fx-font-size: 20pt;
    -fx-background-radius: 0;
}
.orangeButton:hover{
	-fx-color: rgb(255, 0,0);
}

.titleText{
	-fx-font-size: 30pt;
	-fx-font-family: "Elephant";
}

.statusText{
	-fx-font-size: 15pt;
}

