.root{
	-fx-background-color: aqua;
	-fx-font-size: 13pt;
	-fx-font-family: "Verdana";
	-fx-background: rgb(225, 228, 203);
}

.menuPane {
	-fx-background-color: yellow;
	-fx-color: red;
}

.settingsPane {
	-fx-background-color: orange;
	-fx-color: blue
}

.gamePane {
	-fx-background-color: lime;
	-fx-color: pink;
}

.text-field {

    -fx-font-size: 15;
}

.tileButton{

	-fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-text-fill: blue;
    -fx-font-size: 20pt;
}
.orangeButton:hover{
	-fx-color: rgb(255, 0,0);
}

.titleText{
	-fx-font-size: 30pt;
	-fx-font-family: "Elephant";
}